body {
    background-color: #11111b;
  }
  
h1 {
    color: #cdd6f4;
    margin-left: 20px;
  }

h2 {
    color: #bac2de;
    margin-left: 20px;
}

h3 {
    color: #a6adc8;
    margin-left: 20px;
}



p {
    color: #9399b2;
    margin-left: 20px;
}

code {
    color: #b4befe;
    margin-left: 20px;
}